<footer class="footer">
    <div class="content-wrapper">
    	<div class="content-wrapper__inner">
	      <span class="footer__copyright">&copy;{{date format="YYYY"}}. All rights reserved.</span><!--
	      --><a class="footer__NewSpring" href="http://newspring.cc" target="_blank">I <span class="iconic" data-glyph="heart" title="heart" aria-hidden="true"></span> My Church</a><!--
	      --><span class="footer__hosting">Hosted by <a href="http://ghost.org" title="link to Ghost website">Ghost(Pro)</a></span>
	    </div>
    </div>
</footer>
