// ------------------------------
// BASICS
// ------------------------------

html, body {
  height: 100%;
}

html {
    height: 100%;
    max-height: 100%;
}

body {
  font-family: $serif-font;
  letter-spacing:  0.25px;
  font-size: 1em;
  color: $gray-darker;
}

::selection {
  background: rgba(140,198,63,0.9);
  color: white;
}

::-moz-selection {
  background: rgba(140,198,63,0.9);
  color: white;
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
}

// Fonts

/* Import the font file with the icons in it */
@font-face {
    font-family: 'icons';
    src:url('../fonts/ghost/icons.eot');
    src:url('../fonts/ghost/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ghost/icons.woff') format('woff'),
        url('../fonts/ghost/icons.ttf') format('truetype'),
        url('../fonts/ghost/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost:before,
.icon-feed:before,
.icon-twitter:before,
.icon-google-plus:before,
.icon-facebook:before {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the corret character into the
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}

// ------------------------------
// TYPOGRAPHY
// ------------------------------

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: $link-color 1px dotted;

  &:hover {
    border-style: solid;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
  }

}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: .8em;
  margin-bottom: .4em;
  font-family: $sans-font;
  letter-spacing: 0px;
  font-weight: lighter;
  color: $gray-darkest;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0;
  font-size: 3.2em;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.7em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  margin: 1em 0;
  padding: 2em 0;
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  font-family: $serif-font;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.3em;
  text-align: center;

  p {

    &:last-child {
      margin-bottom: 0;
    }

  }

}

// ------------------------------
// BASIC STYLING
// ------------------------------

ol, ul {
  margin: 0 0 1.3em 2.5em;

  li {
    margin: 0 0 .2em 0;
    line-height: 1.6em;
  }

  ol, ul {
    margin: .1em 0 .2em 2em;
  }

}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

code {
  padding: .1em .4em;
  background: lighten($secondary-color, 32%);
  border: 1px solid lighten($secondary-color, 25%);
  border-radius: $border-radius;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .85em;
}

pre {
  margin-bottom: 1.3em;
  padding: 1em 2.5%;
  background: lighten($secondary-color, 32%);
  border: 1px solid lighten($secondary-color, 25%);
  border-radius: $border-radius;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  font-weight: normal;
  line-height: 1.3em;

  code {
    padding: 0;
    background: none;
    border: none;
  }

}

.date,
.time,
.author,
.tags {
  font-size: .8em;
  color: darken($gray, 2%);
}

.excerpt {
  margin: 0;
  font-size: .9em;
  color: $gray-dark;
}

.intro {
  font-family: $serif-font;
  font-size: 1.2em;
  font-weight: lighter;
  color: $gray-dark;
}

.block-heading {
  @include column(12);
  position: relative;
  bottom: -15px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.label {
  position: relative;
  display: inline-block;
  padding: 8px 18px 9px 18px;
  background: $primary-color;
  border-radius: $border-radius;
  text-align: center;
  color: #FFF;
}

// ------------------------------
// MAIN LAYOUT
// ------------------------------

.container {
  position: relative;
  z-index: 500;
  width: $total-width - $gutter-width;
  margin: 0 auto;
}

.content-wrapper {
  z-index: 800;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

  .content-wrapper__inner {
    margin: 0 10%;
    padding: 50px 0;
  }

.post-footer {
  border-top: 1px solid #dddddd;
  padding: 2em 0;
  display: block;
  margin: 2em auto;

  .author {
    display: inline-block;
    vertical-align: top;
    padding-right: 4%;
    width: 70%;
    box-sizing: border-box;

    h4 {
      font-size: 1.75em;
      color: #666666;
    }

    p {
      color: #666666;
    }

    ul {
      list-style: none;
      margin: 0;
      color: #666666;
    }
  }

  .share {
    display: inline-block;
    vertical-align: top;
    width: 30%;

    a {
      font-size: 1.25em;
      margin: 0.5em 0.5em 0 0;
      border-bottom: none;
      display: inline-block;
      color: #666666;

      &:hover {
        color: $link-color;
      }
    }
  }
}

.footer {
  display: block;
  padding: 1em 0;
  //border-top: 2px solid $gray-light;
  font-size: .7em;
  color: lighten($gray-dark, 10%);
  background: #191919;

  .content-wrapper__inner {
    padding: 0;
  }

  * {
    color: white;
  }
}

  .footer__copyright {
    display: inline-block;
    vertical-align: middle;
    //margin-bottom: .7em;
    padding: 1em inherit;
    width: 33%;

    a {
      color: lighten($gray-dark, 5%);
      text-decoration: underline;

      &:hover {
        color: $hover-color;
      }

    }

  }

  .footer__hosting {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding: 1em inherit;
    width: 33%;
  }

  .footer__NewSpring {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    border-bottom: none;
    width: 34%;

    .iconic[data-glyph]:empty:before {
      font-size: 0.95em;
      padding: 0 0.25em;
    }

    &:hover {
      border-bottom: none;

      * {
        color: $primary-color;
      }
    }
  }

// ------------------------------
// AVATAR & LOGO
// ------------------------------

.avatar,
.logo {
  border-radius: 50%;
  border: 3px solid #FFF;
  @include box-shadow(0 0 1px 1px rgba(000,000,000,.3));
}

// ------------------------------
// DIVIDERS
// ------------------------------

hr {
  border: none;
}

// ------------------------------
// MISC STYLES / HELPERS
// ------------------------------

.hidden {
  display: none !important;
}
