// ------------------------------
// PAGINATION
// ------------------------------

.pagination {
  //border-top: #ccc 1px solid;
  display: block;
  margin: 0 0 4em 0;
  text-align: center;
  padding-top: 2em;
}

  .pagination__page-number {
    margin: 0;
    font-size: .8em;
    color: $gray-dark;
  }

  .pagination__newer {
    margin-right: 1em;
    display: inline-block;
    @include transition(all 0.15s linear);

    &:hover {
      background: $link-color;
      border-color: $link-color;
      color: white;
      @include transition(all 0.15s linear);
    }
  }

  .pagination__older {
    margin-left: 1em;
    display: inline-block;
    @include transition(all 0.15s linear);

    &:hover {
      background: $link-color;
      border-color: $link-color;
      color: white;
      @include transition(all 0.15s linear);
    }
  }
